.input {
  @apply block w-full rounded border p-2 shadow-sm sm:text-sm;

  &__block {
    @apply w-full;
  }

  &__container {
    @apply relative;
  }
  &--success {
    @apply border-gray-300 focus:border-indigo-500 focus:ring-indigo-500;
  }

  &-label {
    @apply not-sr-only block text-sm font-medium;

    &--error {
      @apply text-red-500;
    }

    &--success {
      @apply text-gray-700;
    }
  }

  &-error {
    @apply border-red-500 focus:border-red-500 focus:ring-red-500;

    &__message {
      @apply mb-1 text-xs text-red-500;
    }
  }
}
