@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

@layer base {
  :root {
    --color-text-base: #fff;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: 67, 56, 202;
    --color-button-accent: #fff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;
  }
}

.theme-startup {
  --color-primary: 111 114 185;
  --color-secondary: 111 114 185;
  /* ... */
}

/**
 * Chrome has a bug with transitions on load since 2012!
 *
 * To prevent a "pop" of content, you have to disable all transitions until
 * the page is done loading.
 *
 * https://lab.laukstein.com/bug/input
 * https://twitter.com/timer150/status/1345217126680899584
 */
body.loading * {
  transition: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  overscroll-behavior-x: none;
}

li {
  list-style: none;
}
