@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

@layer base {
  :root {
    --color-text-base: #fff;
    --color-text-muted: #ffa737;
    --color-text-inverted: #343330;
    --color-fill: 52, 51, 48;
    --color-fill-hex: #343330;
    --color-inverted: #ffaf47;
    --color-button-accent: #ffa737;
    --color-button-accent-hover: #ff9e1f;
    --color-button-muted: #343330;
    --color-focus-ring: #00ff00;
  }
}

.theme-startup {
  --color-primary: 111 114 185;
  --color-secondary: 111 114 185;
  /* ... */
}

/**
 * Chrome has a bug with transitions on load since 2012!
 *
 * To prevent a "pop" of content, you have to disable all transitions until
 * the page is done loading.
 *
 * https://lab.laukstein.com/bug/input
 * https://twitter.com/timer150/status/1345217126680899584
 */
body.loading * {
  transition: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  overscroll-behavior-x: none;
}

li {
  list-style: none;
}
